﻿<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <nav class="navbar navbar-findcond navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
			            </button>
                        <a class="navbar-brand" href="#">CA Properties</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active">
                                <a href="#"><i class="fa fa-fw fa-bell-o"></i></a>
                            </li>
                            <li class="active"><a href="#">Settings</a></li>
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Quick Links <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Units</a></li>
                                    <li><a href="#">Tenants</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Locations</a></li>
                                    <li><a href="#exit">Maintenance</a></li>
                                    <li><a href="#exit">Billing</a></li>
                                    <li><a href="#exit">Reports</a></li>
                                    <li><a href="#exit">Export</a></li>
                                </ul>
                            </li>
                            <li class="active"><a [routerLink]="['/login']">Logout</a></li>
			             </ul>
                        <form class="navbar-form navbar-right search-form" role="search">
                            <input type="text" class="form-control" placeholder="Search" />
                        </form>
                    </div>
                </div>
            </nav><!-- end primary nav-->
            <!-- Second Nav -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!-- Brand -->
                </div>
                <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav animated fadeIn">
                    <li [class.active]="router.isRouteActive(router.generate(['/locations']))"><a [routerLink]="['/locations']">Locations</a></li>
                    <li [class.active]="router.isRouteActive(router.generate(['/unitss']))"><a [routerLink]="['/units']">Units</a></li>
                    <li [class.active]="router.isRouteActive(router.generate(['/tenants']))"><a [routerLink]="['/tenants']">Tenants</a></li>
                    <li [class.active]="router.isRouteActive(router.generate(['/leases']))"><a [routerLink]="['/leases']">Leases</a></li>
                    <li [class.active]="router.isRouteActive(router.generate(['/rents']))"><a [routerLink]="['/rents']">Rent Payments</a></li>
                    <li [class.active]="router.isRouteActive(router.generate(['/maintenance']))"><a [routerLink]="['/maintenance']">Maintenance</a></li>
                    <li [class.active]="router.isRouteActive(router.generate(['/bills']))"><a [routerLink]="['/bills']">Bills</a></li>
                      <li [class.active]="router.isRouteActive(router.generate(['/reports']))"><a [routerLink]="['/reports']">Reports</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        CA Properties - Property Management Application
    </p>

</div>